.rightbar {
  width: 250px;
  height: calc(100vh - 64px);
  background-color: var(--secondary-color);
  padding: 20px;
  position: sticky;
  top: 64px;
  color: var(--text-color);
  overflow-y: auto;
}

.rightbar h5 {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--text-color);
}

.rightbar .stories,
.rightbar .events,
.rightbar .suggested-pages {
  margin-bottom: 20px;
}

.rightbar ul {
  list-style: none;
  padding: 0;
}

.rightbar ul li {
  padding: 10px 0;
  font-size: 1rem;
  cursor: pointer;
  color: var(--text-color);
}

.rightbar ul li:hover {
  color: var(--accent-color);
}
